@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

:root{
  --primary-white: #fff;
  --primary-orange:#f9ab00;
  --primay-dark:rgba(255,255,255,0);
  --primary-red:#ef4035;
  --primary-hover-red:#f33501;
}

body{
  font-family: "Roboto Condesed" sans-serif;
}
/*************************** NAVBAR *******************************/
nav{
  z-index: 2;
}
.logo{
  width: 16.25rem;
}

/***************** MENU LINKS ***************/
nav a.nav-link{
letter-spacing: 0.0375rem;
cursor: pointer;

}
nav ul li{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primay-dark);
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
@media(max-width:768px){
  .navbar-brand{
    width: 7rem;
  }
}
.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange);
}

/**************** HEADER ********************/
.header-wraper{
  position: relative;
  background: url(wall-and-laptop-background.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info{

  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" , sans-serif;
  z-index: 1;
}
.main-info h1{
  color: var(--primary-orange);
  text-transform: uppercase;
}


/********** TYPED TEXT ***********/
.typed-text{
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width:768px){
  .main-info h1{
    font-size: 1.7rem !important;
  }
  .typed-text{
    font-size: 1.3rem !important;
  }
}
/********** HEADER MAIN OFFER BUTTON ***********/
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}
.tsparticles{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


@media(max-width:768px){
  .particles-canvas{
    display: none;
  }
}